NEXT_PUBLIC_SUPABASE_URL=https://mynesnxzkjmuhuxybchb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15bmVzbnh6a2ptdWh1eHliY2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyMTE5NzQsImV4cCI6MjEwMzc4Nzk3NH0.uYwnjokGP16O1B0OtRWBCbDCVzAX0i3rRcVXlUUFcwk
